.background_burger {
	background-image: url('../images/background/Rectangle 1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


.main__burger {
	float: left;
	width: 50%;
	position: relative; 
	top: 50%; transform: 
	translateY(-50%);
	margin-top: 20px;
}

.main__burger__image {
	margin-top: -10px;
	margin-left: -40px;
}

.main__burger__ingridients {
	background-color: #f08c33;
	width: 90px;
	display: inline-block;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 12px;
	border-radius: 5px;
	font-size: 14px;
}

.main__burger__ingridients__text {
	font-family: gagalinregular;
	color: #ffffff;
}

.main__burger__kkal {
	font-family: gagalinregular;
	color: #ffffff;
}

.main__burger__kkal__amount {
	position: absolute;
	bottom: 15px;
	left: 15px;
	font-size: 18px;
}

.main__burger__kkal__text {
	position: absolute;
	bottom: -15px;
	left: 15px;
	font-size: 14px;
}

.main__info {
	float: right;
	width: 50%;
	color: #ffffff;
	position: relative;
	top: 50%; 
	transform: translateY(-50%);
	font-size: 14px;
	font-family: ubuntulight;
}

.main__info__h {
	font-family: gagalinregular;
	font-size: 70px;
	margin-bottom: 45px;
}

.main__info__price {
	font-family: gagalinregular;
	color: #e35028;
	margin-top: 35px;
}

.main__info__price__number {
	display: inline;
	font-size: 60px;
}

.main__info__price__rubles {
	display: inline;
	font-size: 30px;
	margin-left: -10px;
}

.main__info__price__order {
	display: inline;
}

.main__info__price__order a {
	text-decoration: none;
	font-family: ubuntu;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #e35028;
	margin-left: 20px;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 13px;
}