.main__map {
	height: calc(100% - 58px);
	width: 100%;
}

.main__footer {
	height: 58px;
	width: 100%;
	background-image: url('../images/background/chalkboard_texture_mc2015_by_mattiamc-d8dbnac2.jpg');
}

.main__footer__left {
	max-width: 50%;
	float: left;
}

.main__footer__left__adress {
	font-family: ubuntulight;
	font-size: 14px;
	color: #fff;
	padding-top: 11px;
	padding-bottom: 7px;
}

.main__footer__left__phone {
	font-family: ubuntubold;
	font-size: 14px;
	color: #e35028;
	margin-left: 5px;
}

.main__footer__left__phone__img {
	margin-right: 5px;
}

.main__footer__right {
	float: right;
	text-align: right;
}

.main__footer__messenger {
	display: inline-block;
	margin-top: 18px;
	margin-right: 20px;
}

.messenger_vk {
	height: 13px;
	width: 23px;
	margin-bottom: 4px;
	background-image: url('../images/icons/vk.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.messenger_fb {
	height: 20px;
	width: 20px;
	background-image: url('../images/icons/fb.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.messenger_inst {
	height: 20px;
	width: 20px;
	background-image: url('../images/icons/inst.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.messenger_tw {
	height: 16px;
	width: 20px;
	margin-bottom: 2px;
	background-image: url('../images/icons/twitter.svg');
	background-repeat: no-repeat;
	background-size: cover;
}